/* ------------------------------------------------------ARTIGOS--------------------------------- */
article{
    text-align: justify;
}

article p {
    text-indent: 3ch;
}
.artigos{
    text-align: center;
    background: rgb(68, 68, 68);
    padding: 15px;
    /* border-radius: 8px; */
}
.artigos h2{ 
    margin: 0 auto; 
    border-bottom: 1px solid;
    padding: 15px;
    width: 50%;
    font-family: 'Press Start 2P', cursive;;
}
#artigoRoms, #artigoEmuladores{
    margin-top: 40px;
    margin-bottom: 50px;
}

#artigoRoms img{
    padding: 5px;
    width: 400px;
    background: -webkit-linear-gradient(top right,rgb(227,162,189), rgb(49,97,200));
    border-radius: 8px;
}

#artigoEmuladores img{
    padding: 5px;
    width: 400px;
    height: 300px;
    border-radius: 8px;
    background: -webkit-linear-gradient(top right,rgb(227,162,189), rgb(49,97,200));
}

@media (min-width: 0px) and (max-width: 992px){
    #artigoRoms, #artigoEmuladores{
        margin: 0 auto;
        padding: 10px;
        width: 100%;

        padding-bottom: 50px;
    }

    #artigoRoms img, #artigoEmuladores img{
        width: 100%;
    }

    .artigos h2{
        width: 100%;
    }

    .conteudo{
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

}
@media (min-width:992px) {
    #artigoRoms{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }
    #artigoEmuladores{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        }
}
/* ------------------------------------------------------VIDEOS--------------------------------- */
.videos{
    background: rgb(109, 109, 109);
    padding-top: 100px;
    padding-bottom: 100px;
}
.videos h2{ 
    margin: 0 auto; 
    border-bottom: 1px solid;
    padding: 15px;
    width: 50%;
}
.videos div{
margin-top: 100px;
margin-bottom: 60px;
}

.videos h3{
    margin-bottom: 25px;
    font-size: 22px;
}

.videos iframe{
    border-radius: 10px;
    padding: 10px;
    background: -webkit-linear-gradient(top right,rgb(255, 6, 110), rgb(49,97,200));
}

#fdb{
    height: 175px;
}


@media (min-width:0px){
    .videos iframe{
        width: 100%;
        height: 15rem;
    }

}

@media (min-width: 600px){
    .videos iframe{
        width: 80%;
        height: 20rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px){

    .videos iframe{
        width: 70%;
        height: 25rem;
    }

}

@media (min-width: 1200px){
    
    .videos iframe{
        width: 50%;
        height: 25rem;
    }
}