
.tituloPrincipal {
    margin-bottom: 80px;
    font-size:70px;
}

.titulo{
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    transition: ease-in-out .2s;
    padding-bottom:11px;
    border-bottom: rgba(54, 54, 54, 0.164) 3px solid;

}

.titulo:hover{
    letter-spacing: .08em;
    transition: ease-in-out .2s;
    text-decoration: underline;
}

.catalogo{
   /*  border: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
/*     background: rgb(68, 68, 68); */
}


.rom{
/*     border: 2px solid rgb(93, 93, 93); */
/*     padding: 5px 10px; */
    border-radius: 20px;
    transition: ease-in-out .3s;
    width: 245px;
    height: 420px;
    background: #65d0f1;
    color: white;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.rom:hover{
    transition: ease-in-out .3s;
    transform: scale(1.05, 1.05);
    color: white;
    border: 2px solid rgb(141, 141, 141);
    text-decoration: none;
}
.rom:hover img{
    border: 2px solid rgb(141, 141, 141);
}
.rom h3{
    font-size: 20px;
    height: 50px;
    margin-bottom: 10px;
}
.rom p{
    margin: 0;
}


.rom img{
    padding: 0;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(93, 93, 93);
    width: 220px;
    height: 180px;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.caixaPlay{
    margin-top: 20px;
    display: inline-flex;
    gap: 15px;
}

.caixaPlay button{
    border-radius: 10px;
    padding: 10px;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    transition: .2s ease-in-out;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

.caixaPlay button a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    color: white;
    text-decoration: none;
}

.rom:hover button{
    border: 1px solid #fff;

}
.caixaPlay button:hover{
    transform: scale(1.1);
}


@media (min-width: 0px) and (max-width: 600px) {
    .catalogo{
        height: 100%;
        width: 100%;
        padding: 0;
    }

  .rom img{
      width: 100%;
      height: 100%;
      transition: ease-in-out .3s;
  }
  .rom{
      padding: 10px 15px;
      width: 100%;
      height: 100%;
  }

  

}

.nintendo{
    background: #6201F2;
    box-shadow:
    0 0 7px #6201F2,
    0 0 10px #6201F2,
    0 0 0px #6201F2,
    0 0 0px #6201F2,
    0 0 0px #6201F2,
    0 0 0px #6201F2,
    0 0 0px #6201F2,
    0 0 0px #6201F2;
}
.nintendo button{
    background-color: #E703FF;
    align-items: center;
}




/* .nintendo:hover{

    background: -webkit-linear-gradient(top right,rgb(255, 6, 110), rgb(49,97,200));
} */

.neonBackgroundNintendo{
    border-radius: 20px;
    background: #09002aef;
    box-shadow:
    0 0 7px #f222ff,
    0 0 10px #f222ff,
    0 0 21px #f222ff,
    0 0 42px #f222ff,
    0 0 82px #f222ff,
    0 0 0px #f222ff,
    0 0 0px #f222ff,
    0 0 0px #f222ff;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 100px;
    margin-top: -85px;
}

/* .atari:hover{
    background: -webkit-linear-gradient(top right,rgb(6, 164, 255), rgb(255, 62, 165)); 
} */
.atari{
    background: #7394D1;
    box-shadow:
    0 0 7px #7394D1,
    0 0 10px #7394D1,
    0 0 0px #7394D1,
    0 0 0px #7394D1,
    0 0 0px #7394D1,
    0 0 0px #7394D1,
    0 0 0px #7394D1,
    0 0 0px #7394D1;
}

.atari button{
    background:#FEADAF;
}


.neonBackgroundAtari{
    background: #09002aef;
    border-radius: 20px;
    box-shadow:
    0 0 7px #3eada4,
    0 0 10px #3eada4,
    0 0 21px #3eada4,
    0 0 42px #3eada4,
    0 0 82px #3eada4,
    0 0 0px #3eada4,
    0 0 0px #3eada4,
    0 0 0px #3eada4;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 100px;
}
.neonBackgroundSony{
    background: #09002aef;
    border-radius: 20px;
    box-shadow:
    0 0 7px #893AA1,
    0 0 10px #893AA1,
    0 0 21px #893AA1,
    0 0 42px #893AA1,
    0 0 82px #893AA1,
    0 0 0px #893AA1,
    0 0 0px #893AA1,
    0 0 0px #893AA1;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 100px;
}

@media (min-width: 0px) and (max-width: 600px) {
    .neonBackgroundNintendo{
        border-radius: 20px;
        background: #09002aef;
        box-shadow:
        0 0 7px #CA3174,
        0 0 10px #CA3174,
        0 0 21px #CA3174,
        0 0 0px #CA3174,
        0 0 0px #CA3174,
        0 0 0px #CA3174,
        0 0 0px #CA3174,
        0 0 0px #CA3174;
    }

    .neonBackgroundAtari{
        background: #09002aef;
        border-radius: 20px;
        box-shadow:
        0 0 7px #3eada4,
        0 0 10px #3eada4,
        0 0 21px #3eada4,
        0 0 0px #3eada4,
        0 0 0px #3eada4,
        0 0 0px #3eada4,
        0 0 0px #3eada4,
        0 0 0px #3eada4;
    }
    .neonBackgroundSony{
        background: #09002aef;
        border-radius: 20px;
        box-shadow:
        0 0 7px #893AA1,
        0 0 10px #893AA1,
        0 0 21px #893AA1,
        0 0 0px #893AA1,
        0 0 0px #893AA1,
        0 0 0px #893AA1,
        0 0 0px #893AA1,
        0 0 0px #893AA1;
    }
}

/* ---------------------------PAG-EMULADOR--------------------------------- */

.gameTitle{
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    transition: ease-in-out .2s;
    padding-bottom:11px;
    border-bottom: rgb(200, 200, 200) 3px solid;
}

.boxEmulator{
    padding-bottom: 40px;
}
