
.tituloPrincipal {
    margin-bottom: 80px;
    font-size:70px;
}

.titulo{
    margin-bottom: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    transition: ease-in-out .2s;
    padding-bottom:11px;
    border-bottom: rgba(54, 54, 54, 0.164) 3px solid;

}

.titulo:hover{
    letter-spacing: .08em;
    transition: ease-in-out .2s;
    background: -webkit-linear-gradient(rgb(243, 136, 14), rgb(154, 32, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.catalogo{
   /*  border: 1px solid black; */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgb(68, 68, 68);
}
.rom{
    border: 2px solid rgb(93, 93, 93);
    background-color: rgb(173, 86, 255); 
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    transition: ease-in-out .3s;
    width: 285px;
    height: 380px;
}
.rom:hover{
    transition: ease-in-out .3s;
    transform: scale(1.05, 1.05);
    color: white;
    border: 2px solid rgb(141, 141, 141);
}
.rom:hover img{
    border: 2px solid rgb(141, 141, 141);
}
.rom a{
    font-size: 20px;
    margin: 0;
    color: white;
    transition: ease-in-out .3s;
}
.rom p{
    margin: 0;
}
.rom:hover a:any-link{
    color:white;
    transition: ease-in-out .3s;
}

.rom img{
    padding: 0;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(93, 93, 93);
    width: 260px;
    height: 200px;
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    display: block;
}

@media (min-width: 0px) and (max-width: 600px) {
  .rom img{
      width: 100%;
      height: 100%;
      transition: ease-in-out .3s;
  }
  .rom{
      padding: 10px 15px;
      width: 100%;
      height: 100%;
  }  
}


.nintendo:hover{
    background: -webkit-linear-gradient(top right,rgb(255, 6, 110), rgb(49,97,200));
}

.atari:hover{
    background-color: #fb5d36;
}
