@import url(//fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap);
*{
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
a, header img, header li, #btn-mobile, #btn-mobile span, #pageMap, #pageMap li, #btnPageMap i{
    cursor: pointer,default;
}



/* ----------------------------------------SMOOTH LOADING TRANSITION--------------------------------------------- */
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ------------------------------------------------------CABECALHO--------------------------------- */
#logo{
    height: 70px;
}

header{
    align-items: center;
    border-bottom:#383838 5px solid;
/*     background-image: linear-gradient(to top left, #000000,#1b1b1b); */
    background: #F43A3B;
    width: 100%;
    position: fixed; 
    left: auto;
    top: auto; 
    transition: .3s;
    padding: 25px 10px;
    transform: translateZ(0px);
    z-index: 1000;
}

header nav {
    display: inline-flex;
    gap: .5rem;
    float: right;
    align-items: center;
}
header nav a{
    margin: 0px;
    padding: .5rem .9rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: ease-in-out .3s;
    border: 2px solid transparent;
    height: 100%;
    text-align: center;
}

header nav a:hover{
    color: #fff;
    border-top:5px solid #383838;
    border-bottom:5px solid #383838;
    transition: ease-in-out .3s;
    text-decoration: none;
}
#menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    align-items: center;
    margin: 0;  
}

#menu a{
    display: block;
    padding: .5rem;    
}

.layout-header-spacer{
    background-color: #383838da;
    width: 3px;
    height: 2em;
}

#btn-mobile{
    display: none;
    
}

/* --------------------------------------------------------MENU MOBILE--------------------------- */
 @media (min-width: 0px) and  (max-width:800px){


    #menu{
        right: 0;
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        background: #383838;
        transition: .6s;
        visibility: hidden; 
        overflow-y: hidden;
        z-index: 1000;
        height: calc(50vh);

    }
    #nav.active #menu{
        visibility: visible;
        overflow-y: auto;
        animation: fadeInAnimation ease .6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-radius: initial;
        border-bottom: 2px solid rgba(131, 130, 130, 0.349);
        color: #fff;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        right: 0;
    }
    #hamburguer{
        width: 20px;
        border-top: 2px solid;
        color: #fff;

    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color:transparent
    }
    #nav.active #hamburguer::before{
        transform:rotate(45deg);
    }
    #nav.active #hamburguer::after{
        transform:rotate(-45deg);
        top: -7px;
    }
}


/* ------------------------------------------------------MAIN--------------------------------- */
.main{
    text-align: center;
    background-color: #6d6d6d;
    padding-top: 30px;
    padding-bottom: 30px;
}

.conteudo{
    margin-top: 100px;
    background: #fff;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 3px 3px 3px #24222257;
    border-radius: 10px;
}

/* ------------------------------------------------------PAGEMAP--------------------------------- */
#coluna-1{
    padding: 0;
}
#btnPageMap{

    background-color:none;
    border-radius: 5px;
    width:30px;
    height: 50px;
    margin:0;
    padding: 0;
    left: 0;
    position: fixed;
    background: #F43A3B;
    opacity: 50%;
}

#boxPageMap{
    border-radius: 5px;
    background-color: #444444;
    float: left;
    position: fixed;
    margin: 0;
    z-index: 1000;
    width: 230px;
    transition: ease .3s; 
    margin-top:20vh;
    left: -230px;
}

#pageMap{
    text-align: left;
    line-height: 2em;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#pageMap, #pageMap li{
    list-style: none;
}
#pageMap li{
    border-bottom: rgba(255, 255, 255, 0.096) 1px solid;
}

#pageMap a{
    color: cornsilk;
}

#pageMap a:visited{
    color: cornsilk;
}

#boxPageMap:hover{
    left: 30px; 
    transition: ease .3s; 
}
#btnPageMap:hover{
    background: #F43A3B;
    opacity: 80%;
}

/* ------------------------------------------------------RODAPE--------------------------------- */
.socialContainer{
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-flex;
    gap: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.social{
    margin: 0;
    background: #CA3174;
    padding: 10px;
    border-radius: 100%;
    vertical-align: middle;
}
.social:hover{
    color: black ;
}
#insta{
padding-left:12px ;
padding-right:12px ;
}

.rodape{
    text-align: center;
    background: #09002A;
/*     border-top: rgb(24, 24, 24) 6px solid; */
    color: white;
}

.rodape a, .rodape a:visited, .rodape a:hover{
    text-decoration: none;
    color: white;
}
.rodape a:hover{
    transition:ease-in .3s;
    color: rgb(0, 37, 158);
}

footer{
    padding-top: 30px;
    line-height: 10px;
}
.rodape p{
    text-align: center;
}




/* -----------------------------TESTE-------------------- */
.azul{
    background-color: turquoise;
}

.verde{
    background-color: green;
}

.vermelho{
    background-color: red;
}
