@import url(//fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap);
*{
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    filter:saturate(1.2) contrast(1) brightness(1) ;
  }
a, header img, header li, #btn-mobile, #btn-mobile span, #pageMap, #pageMap li, #btnPageMap i{
    cursor: pointer,default;
}



/* ----------------------------------------SMOOTH LOADING TRANSITION--------------------------------------------- */
body {
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* -------------------------------------------------NEON FLICKER ANIMATION-------------------------- */  
@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #f09,
        0 0 11px #f09,
        0 0 19px #f09,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    }
   0% {
      /* A slightly smaller blur radius */
      text-shadow:
        0 0 4px #f09,
        0 0 10px #f09,
        0 0 18px #f09,
        0 0 38px #1C236F,
        0 0 73px #1C236F,
        0 0 80px #1C236F,
        0 0 94px #1C236F,
        0 0 140px #1C236F;
    }
  }

  @keyframes pulsateBox {
    100% {
      /* Larger blur radius */
      box-shadow:
        0 0 4px #f09,
        0 0 11px #f09,
        0 0 50px #f09,
        0 0 0px #f09,
        0 0 0px #f09,
        0 0 0px #f09,
        0 0 0px #f09,
        0 0 0px #f09;
    }
   0% {
      /* A slightly smaller blur radius */
      box-shadow:
        0 0 4px #f09,
        0 0 10px #f09,
        0 0 18px #f09,
        0 0 38px #1C236F,
        0 0 0px #1C236F,
        0 0 0px #1C236F,
        0 0 0px #1C236F,
        0 0 0px #1C236F;
    }
  }
/* ----------------------------------------------------NEON EFFECT------------------------------- */
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #CA3174,
        0 0 10px #CA3174,
        0 0 21px #CA3174,
        0 0 42px #CA3174,
        0 0 82px #CA3174,
        0 0 92px #CA3174,
        0 0 0px #CA3174,
        0 0 0px #CA3174;

  }

  .neonText:hover{
    color: #fff;
/*     text-shadow:
        0 0 7px #1C236F,
        0 0 10px #1C236F,
        0 0 21px #1C236F,
        0 0 42px #1C236F,
        0 0 82px #1C236F,
        0 0 92px #1C236F,
        0 0 102px #1C236F,
        0 0 151px #1C236F;
        transition: ease-in-out .3s; */
        animation: pulsate 0.11s ease-in-out infinite alternate; 
  }

  .neonTextWhite {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }

.neonBackground{
    border-radius: 20px;
    background: #09002aef;
    box-shadow:
    0 0 7px #CA3174,
    0 0 10px #CA3174,
    0 0 21px #CA3174,
    0 0 42px #CA3174,
    0 0 82px #CA3174,
    0 0 0px #CA3174,
    0 0 0px #CA3174,
    0 0 0px #CA3174;
}
.neonBackgroundBlue{
    background: #09002aef;
    border-radius: 20px;
    box-shadow:
    0 0 7px #893AA1,
    0 0 10px #893AA1,
    0 0 21px #893AA1,
    0 0 42px #893AA1,
    0 0 82px #893AA1,
    0 0 0px #893AA1,
    0 0 0px #893AA1,
    0 0 0px #893AA1;
}
.borderBottomNeon{
    border-bottom:#caae31 5px solid;
    box-shadow:
    0 0 7px #caae31,
    0 0 10px #caae31,
    0 0 15px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31;
}

/* ------------------------------------------------------CABECALHO--------------------------------- */
#logo{
    height: 120px;
    transition: ease-in-out .3s;
} 

header{
    align-items: center;

/*     background-image: linear-gradient(to top left, #000000,#1b1b1b); */
/*     background: #F43A3B; */
    background: #09002A;
    width: 100%;
    position: fixed; 
    left: auto;
    top: auto; 
    transition: .3s;
    padding: 15px 10px;
    transform: translateZ(0px);
    z-index: 1000;
    font-family: "Vibur", sans-serif;
    font-size: 20px;
}

header nav {
    display: inline-flex;
    gap: .5rem;
    float: right;
    align-items: center;
}
header nav a{
    margin: 0px;
    padding: .5rem .9rem;
    text-decoration: none;
    color: #fff;

    font-size: 1.2em;
    transition: ease-in-out .3s;
    border: 2px solid transparent;
    height: 100%;
    text-align: center;
}

#menu a:hover{
    text-decoration: none;
/* 
    background: -webkit-linear-gradient(rgb(243, 136, 14), rgb(154, 32, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #fff;
/*     border-top:5px solid #ffd00088;
    border-bottom:5px solid #ffd00088; */
    transition: ease-in-out .3s;
    transform: scale(1.1);
}
#menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    margin: 0;
}

#menu a{
    display: block;
    padding: .5rem;
    border: 5px solid transparent;
    text-decoration: none;
}

#btn-mobile{
    display: none;
}


.layout-header-spacer{
    width: 3px;
    height: 2em;
    background-color: #caae31;
    box-shadow:
    0 0 7px #caae31,
    0 0 10px #caae31,
    0 0 21px #caae31,
    0 0 42px #caae31,
    0 0 82px #caae31,
    0 0 92px #caae31,
    0 0 102px #caae31,
    0 0 151px #caae31;
}
/* --------------------------------------------------------MENU MOBILE--------------------------- */
@media (min-width: 0px) and  (max-width:800px){
    .neonText{
        text-shadow: none;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 90px;
        background: #383838;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        right: 0;
        border-radius: 8px;
    }
    #nav.active #menu{
        height: calc(35vh);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(131, 130, 130, 0.349);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        right: 0;
    }
    #hamburguer{
        width: 20px;
        border-top: 2px solid;
        color: #fff;

    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color:transparent
    }
    #nav.active #hamburguer::before{
        transform:rotate(45deg);
    }
    #nav.active #hamburguer::after{
        transform:rotate(-45deg);
        top: -7px;
    }
    .layout-header-spacer{
        display: none;
    }
}



/* ------------------------------------------------------MAIN--------------------------------- */
.main{
    text-align: center;
/*     background-color: #6d6d6d; */
/*     background: #342b4e; */
/*     background-image: url(../img/raiz/videogameBG.jpg); */
    background: #09002A;
    background-image: url(../img/raiz/retrowave.jpg);
    background-size: contain;
    background-repeat: round;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

.conteudo{
    margin-top: 220px;
/*     background: rgb(68, 68, 68);  */
    padding: 80px;
    margin-left: 10px;
    margin-right: 10px;
/*     box-shadow: 3px 3px 3px 3px #24222257; */
    /* border-radius: 10px; */
}

/* ------------------------------------------------------PAGEMAP--------------------------------- */
#coluna-1{
    padding: 0;
}
#btnPageMap{

    background-color:none;
    border-radius: 5px;
    width:30px;
    height: 50px;
    margin:0;
    padding: 0;
    left: 0;
    position: fixed;
/*     background: #F43A3B; */
    opacity: 50%;
    background: -webkit-linear-gradient(top right, rgb(243, 136, 14), rgb(154, 32, 253));
}

#boxPageMap{
    border-radius: 5px;
    background-color: #444444;
    float: left;
    position: fixed;
    margin: 0;
    z-index: 1000;
    width: 230px;
    transition: ease .3s; 
    margin-top:40vh;
    left: -230px;
}

#pageMap{
    text-align: left;
    line-height: 2em;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#pageMap, #pageMap li{
    list-style: none;
}
#pageMap li{
    border-bottom: rgba(255, 255, 255, 0.096) 1px solid;
}

#pageMap a{
    color: cornsilk;
}

#pageMap a:visited{
    color: cornsilk;
}

#boxPageMap:hover{
    left: 30px; 
    transition: ease .3s; 
}
#btnPageMap:hover{
    opacity: 80%;
}

/* ------------------------------------------------------RODAPE--------------------------------- */
.socialContainer{
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-flex;
    gap: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* .social{
    margin: 0;
    background: #CA3174;
    border-radius: 100%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
} */

.social [class*="fab fa-"], .social [class*="far fa-"]{
    background-color: #CA3174;
    border-radius: 40px;
    height: 40px;
     line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 24px;
     text-align: center;
     transition: ease-in-out .3s;
     box-shadow:
     0 0 7px #CA3174,
     0 0 10px #CA3174,
     0 0 200px #CA3174,
     0 0 50px #CA3174,
     0 0 0px #CA3174,
     0 0 0px #CA3174,
     0 0 0px #CA3174,
     0 0 0px #CA3174;
}

.social [class*="fab fa-"]:hover , .social [class*="far fa-"]:hover{
    transition: ease-in-out .3s;
    transform: scale(1.2);
    color: #ffffff;
    background-color: #CA3174;
    box-shadow:
    0 0 7px #ffef14,
    0 0 10px #ffef14,
    0 0 200px #ffef14,
    0 0 50px #ffef14,
    0 0 0px #ffef14,
    0 0 0px #ffef14,
    0 0 0px #ffef14,
    0 0 0px #ffef14;
}

.rodape{
    text-align: center;
    background: #09002A;
/*     border-top: rgb(24, 24, 24) 6px solid; */
    color: white;
    border-top:#caae31 5px solid;
    box-shadow:
    0 0 7px #caae31,
    0 0 10px #caae31,
    0 0 15px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31,
    0 0 0px #caae31;
}

.rodape a, .rodape a:visited, .rodape a:hover{
    text-decoration: none;
    color: white;
}
.rodape a:hover{
    transition:ease-in .3s;
}

footer{
    padding-top: 30px;
    line-height: 10px;
    border-top: 1px  solid #342b4e;

}
.rodape p{
    text-align: center;
}
.rodape p:nth-child(2) a:hover{
    color: #e74189;
    text-decoration: underline;
}
  
/* -----------------------------TESTE-------------------- */
.azul{
    background-color: turquoise;
}

.verde{
    background-color: green;
}

.vermelho{
    background-color: red;
}

